.safetyrating{
    float: right;
    background-color:blue;
}

body {
    background-image: url("./images/concert.jpg");
  }


h1{ 
    
    font-family: 'Monoton', cursive;
    text-align: center;
    color: yellow;
    letter-spacing: 10px;
    
}

#myInput{
    padding: 10px;
     
    border-radius: 10%;
}